<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
  
 <bean id = "hw1" class="jn02springcore.helloword"></bean>
 <bean id = "hw2" class="jn02springcore.helloword"></bean>
 

 
 <bean class ="jn02springcore.di.person">
	 <property name ="id" value="101"> </property>
	 <property name="name" value="nikita"></property>
	 <property name="city" value="pune"></property>
 </bean>
</beans>